@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Rosario:wght@700&display=swap");
/* Обнуление стилей*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-size: 14px;
  font-family: "DM Sans";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: "DM Sans";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

::-webkit-scrollbar {
  width: 0px;
  background: rgba(255, 255, 255, 0);
}

/*----------------*/
body {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #222222;
}

a {
  color: #222222;
}

.lock {
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: hidden;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.container {
  max-width: 1270px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 15px;
}

.header__container {
  padding: 50px 15px 43px 15px;
}

.header__body {
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.header__logo {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 5;
  top: 50px;
}

.header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__search {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #F3FBF8;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__basket {
  margin: 0px 32px 0px 28px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #F3FBF8;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.header__basket::before {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #09A66D;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 4;
  top: 7.5px;
  left: 20px;
}

.header__search img,
.header__basket img {
  width: 24px;
  height: 24px;
}

.header__button {
  color: #fff;
  height: 40px;
  width: 160px;
  text-align: center;
  border-radius: 8px;
  background: #09A66D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__small-btn {
  display: none;
}

@media screen and (max-width: 900px) {
  .header__logo {
    top: 10px;
  }
  .header__logo img {
    width: 45px;
    height: 45px;
  }
}

@media (max-width: 769px) {
  .header__container {
    padding: 15px 10px;
  }
  .header__body {
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  .header__basket {
    margin: 0px 15px;
  }
  .header__button {
    display: none;
  }
  .header__small-btn {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #09A66D;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__small-btn img {
    width: 24px;
    height: 24px;
  }
}

@media (max-width: 470px) {
  .header__logo {
    left: 88px;
  }
  .header__menu {
    width: 100%;
  }
}

.menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__items li + li {
  margin: 0px 0px 2px 40px;
}

.menu__item {
  line-height: 24px;
}

.menu__item.active {
  border-bottom: 2px solid #222222;
}

.menu__item:hover {
  border-bottom: 2px solid #09A66D;
}

@media (max-width: 769px) {
  .menu__body {
    position: fixed;
    height: 100%;
    width: 50%;
    top: 60px;
    left: 0;
    background: #09A66D;
    overflow: scroll;
    left: -100%;
    -webkit-transition: left 1s;
    transition: left 1s;
  }
  .menu__body::-webkit-scrollbar {
    width: 0px;
  }
  .menu__body.active {
    left: 0;
  }
  .menu__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 10% 0px;
  }
  .menu__items li {
    margin: 0px 0px 20px 0px !important;
  }
  .menu__item a {
    color: #fff;
    font-size: 24px;
  }
  .menu__item.active {
    border-bottom: 2px solid #fff;
  }
  .menu__item:hover {
    border-bottom: 2px solid #222222;
  }
  .menu__item.active, .menu__item:hover {
    -webkit-box-sizing: content-box !important;
            box-sizing: content-box !important;
    margin: 0px 0px 18px 0px !important;
  }
}

@media (max-width: 769px) {
  .icon-menu {
    position: absolute;
    top: 15px;
    left: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #09A66D;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 15;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .icon-menu:hover {
    opacity: 0.6;
  }
  .icon-menu span {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 5.5%;
            flex: 0 0 5.5%;
    margin: 10% 0px;
    width: 60%;
    background-color: #fff;
  }
  .icon-menu span:nth-child(2) {
    margin: 1px;
  }
  .icon-menu.active {
    background-color: #fff;
    border: 2px solid #09A66D;
  }
  .icon-menu.active span {
    background-color: #09A66D;
  }
}

.footer {
  background: #FCFEFD;
}

.footer__row {
  padding: 105px 0px 118px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 29%;
          flex: 0 1 29%;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  position: relative;
}

.footer__logo {
  position: absolute;
  top: -100px;
}

.footer__logo img {
  max-width: 70px;
  max-height: 70px;
}

.footer__text {
  padding: 0px 10px 0px 0px;
}

.footer__links {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 61%;
          flex: 0 1 61%;
}

@media (max-width: 900px) {
  .footer__logo {
    left: 50vw;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  .footer__logo img {
    max-width: 45px;
    max-height: 45px;
  }
}

@media (max-width: 769px) {
  .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__text {
    padding: 0 10px;
    margin: 0px 0px 10px 0px;
  }
  .footer__logo {
    top: -47.5px;
  }
  .footer__row {
    padding: 50px 0px 20px 0px;
  }
}

.links__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.links__item {
  padding: 0px 10px;
}

.links__title {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 31px;
  margin: 0px 0px 40px 0px;
}

.links__list li + li {
  padding: 24px 0px 0px 0px;
  line-height: 23.5px;
}

.links__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px -25px;
}

.links__icon a {
  padding: 0 25px;
}

.links__icon img {
  height: 24px;
}

@media (max-width: 769px) {
  .links__title {
    margin: 0px 0px 10px 0px;
  }
  .links__list li + li {
    padding: 10px 0px 0px 0px;
  }
}

@media (max-width: 620px) {
  .links__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
  }
  .links__item {
    padding: 0;
    position: relative;
    overflow: hidden;
  }
  .links__item.active {
    padding: 0px 0px 120px 0px;
  }
  .links__list {
    min-width: 100%;
    min-height: 100%;
    top: 41px;
    position: absolute;
    background: #666;
  }
  .links__list a {
    color: #fff;
  }
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.link-btn a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.link-btn__name {
  text-align: center;
  font-family: DM Sans;
  font-weight: 500;
  padding: 0px 20px 0px 0px;
}

.link-btn__btn {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: #09A66D;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.link-btn__btn::before {
  content: '\2192';
  position: absolute;
  font-size: 32px;
  color: #fff;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (max-width: 900px) {
  .link-btn__btn {
    width: 40px;
    height: 40px;
  }
  .link-btn__btn::before {
    font-size: 20px;
  }
}

.main-screen {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  position: relative;
}

.title {
  font-family: Rosario;
  font-size: 70px;
  font-weight: 700;
  line-height: 90px;
}

@media (max-width: 900px) {
  .title {
    font-size: 45px;
  }
}

@media (max-width: 620px) {
  .title {
    font-size: 30px;
    line-height: 35px;
  }
}

.text {
  color: #555555;
}

.about {
  background: #f3fbf8;
  position: relative;
  z-index: 0;
}

.about__head-container {
  position: relative;
}

.about__head {
  padding-top: 93px;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__bg {
  position: absolute;
  max-width: 42.5%;
  left: 0;
  top: -131px;
  z-index: -1;
  left: -50px;
}

.about__bg img {
  width: 100%;
  height: 100%;
}

.about__title {
  text-align: center;
  margin: 0px 0px 20px 0px;
}

.about__text {
  margin: 0px 0px 40px 0px;
  text-align: center;
}

.about__text p {
  margin: 0 auto;
  max-width: 637px;
}

.about__body {
  margin: -46px 0px 0px 0px;
  padding-bottom: 50px;
}

@media (max-width: 900px) {
  .about__head {
    padding-top: 15px;
  }
  .about__bg {
    top: -53px;
  }
  .about__title {
    margin: 0px 0px 10px 0;
  }
  .about__text {
    margin: 0px 0px 15px 0px;
  }
  .about__btn {
    margin: 0px 0px 10px 0px;
  }
  .about__body {
    margin: 0px;
  }
}

@media (max-width: 769px) {
  .about__bg {
    display: none;
  }
}

@media (max-width: 620px) {
  .about__body {
    padding-bottom: 15px;
  }
}

.body-about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body-about__img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 70%;
          flex: 1 1 70%;
  position: relative;
  mix-blend-mode: darken;
  z-index: 0;
}

.body-about__img img {
  width: 88%;
  height: 88%;
}

.body-about__stat {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 250px;
          flex: 0 1 250px;
}

.body-about__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: -15px 0;
}

.body-about__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 33.33%;
          flex: 1 0 33.33%;
  padding: 15px 0px;
}

@media (max-width: 620px) {
  .body-about__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .body-about__img {
    width: 50%;
  }
  .body-about__img img {
    width: 100%;
    height: 100%;
  }
  .body-about__items {
    margin: -5px 0;
  }
  .body-about__item {
    padding: 5px 0px;
  }
  .body-about__stat {
    min-width: 100%;
  }
}

.item-about__row {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 17px;
}

.item-about__img {
  margin: 0px 24px 0px 0px;
}

.item-about__body {
  color: #000;
}

.item-about__numb {
  font-family: DM Sans;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
}

@media (max-width: 900px) {
  .item-about__numb {
    font-size: 30px;
  }
}

@media (max-width: 620px) {
  .item-about__row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .item-about__body, .item-about__numb {
    text-align: right;
  }
}

.we-best__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 130px 0px 120px 0px;
  position: relative;
}

.we-best__bg-img {
  position: absolute;
  max-width: 75%;
  left: 0;
  top: -30px;
  z-index: -2;
  right: -100px;
}

.we-best__bg-img img {
  width: 100%;
  height: 100%;
}

.we-best__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 55%;
          flex: 0 1 55%;
}

.we-best__title {
  margin: 0px 0px 32px 0px;
}

.we-best__text {
  margin: 0px 0px 15px 0px;
}

.we-best__items-info {
  max-width: 90%;
}

.we-best__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 45%;
          flex: 0 1 45%;
}

.we-best__fone {
  top: 35%;
  left: 50%;
  height: 0;
  width: 0;
  position: relative;
  border: 209px solid #09A66D;
  border-radius: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -2;
}

.we-best__fone::after, .we-best__fone::before {
  content: '';
  position: absolute;
  background-color: #fff;
  width: 420px;
  height: 38.17px;
  top: 50%;
  left: 50%;
  z-index: -1;
}

.we-best__fone::after {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.we-best__fone::before {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.we-best__dec {
  position: absolute;
  top: -293px;
  left: -80px;
  z-index: -1;
}

.we-best__img {
  position: absolute;
  top: -290px;
  left: -186.5px;
}

.we-best__arrow {
  max-width: 40px;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
  font-size: 32px;
  color: #09A66D;
  cursor: pointer;
}

@media (max-width: 900px) {
  .we-best__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .we-best__right {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .we-best__left {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    text-align: center;
  }
  .we-best__items-info {
    min-width: 100%;
  }
}

@media (max-width: 769px) {
  .we-best__row {
    padding: 30px 0px;
  }
  .we-best__fone {
    border: 109px solid #09A66D;
  }
  .we-best__fone::after, .we-best__fone::before {
    content: '';
    position: absolute;
    background-color: #fff;
    width: 220px;
    height: 18.17px;
  }
  .we-best__dec {
    width: 220px;
    top: -170px;
    left: -55px;
    z-index: -1;
  }
  .we-best__img {
    width: 220px;
    top: -161px;
    left: -110px;
  }
}

.items-info__item {
  padding: 40px 59px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.items-info__item:nth-child(even) {
  background-color: #F3FBF8;
}

.items-info__item:nth-child(even) .items-info__icon {
  background-color: #fff;
}

.items-info__icon {
  margin: 0px 24px 0px 0px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #F3FBF8;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.items-info__icon img {
  height: 40px;
}

.items-info__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 70%;
          flex: 1 1 70%;
}

.items-info__title {
  font-size: 20px;
}

.items-info__text {
  font-size: 14px;
  line-height: 20px;
}

@media (max-width: 769px) {
  .items-info__item {
    padding: 15px 10px;
  }
  .items-info__icon {
    height: 40px;
    width: 40px;
  }
  .items-info__icon img {
    height: 24px;
  }
}

.explor {
  background: #09A66D0D;
}

.explor__row {
  padding: 88px 0px 143px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.explor__bg {
  position: absolute;
}

.explor__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 45%;
          flex: 0 1 45%;
  position: relative;
}

.explor__img img {
  top: 0;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.explor__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
