@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Rosario:wght@700&display=swap");
/* Обнуление стилей*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-size: 14px;
  font-family: "DM Sans";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: "DM Sans";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

::-webkit-scrollbar {
  width: 0px;
  background: rgba(255, 255, 255, 0);
}

/*----------------*/
body {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #222222;
}

a {
  color: #222222;
}

.lock {
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: hidden;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__button {
  text-align: center;
  border-radius: 8px;
  background: #09A66D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.container {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0px 15px;
}

.header__container {
  padding: 50px 15px 43px 15px;
}

.header__body {
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.header__logo {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 5;
  top: 50px;
}

.header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__search {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #F3FBF8;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__basket {
  margin: 0px 32px 0px 28px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #F3FBF8;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.header__basket::before {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #09A66D;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 4;
  top: 7.5px;
  left: 20px;
}

.header__search img,
.header__basket img {
  width: 24px;
  height: 24px;
}

.header__button {
  color: #fff;
  height: 40px;
  width: 160px;
}

.header__small-btn {
  display: none;
}

@media screen and (max-width: 900px) {
  .header__logo {
    top: 10px;
  }
  .header__logo img {
    width: 45px;
    height: 45px;
  }
}

@media (max-width: 767px) {
  .header__container {
    padding: 15px 10px;
  }
  .header__body {
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  .header__basket {
    margin: 0px 15px;
  }
  .header__button {
    display: none;
  }
  .header__small-btn {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #09A66D;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__small-btn img {
    width: 24px;
    height: 24px;
  }
}

@media (max-width: 470px) {
  .header__logo {
    left: 88px;
  }
  .header__menu {
    width: 100%;
  }
}

.menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__items li + li {
  margin: 0px 0px 2px 40px;
}

.menu__item {
  line-height: 24px;
}

.menu__item.active {
  border-bottom: 2px solid #222222;
}

.menu__item:hover {
  border-bottom: 2px solid #09A66D;
}

@media (max-width: 767px) {
  .menu__body {
    position: fixed;
    height: 100%;
    width: 50%;
    top: 60px;
    left: 0;
    background: #09A66D;
    overflow: scroll;
    left: -100%;
    -webkit-transition: left 1s;
    transition: left 1s;
  }
  .menu__body.active {
    left: 0;
  }
  .menu__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 10% 0px;
  }
  .menu__items li {
    margin: 0px 0px 20px 0px !important;
  }
  .menu__item a {
    color: #fff;
    font-size: 24px;
  }
  .menu__item.active {
    border-bottom: 2px solid #fff;
  }
  .menu__item:hover {
    border-bottom: 2px solid #222222;
  }
  .menu__item.active, .menu__item:hover {
    -webkit-box-sizing: content-box !important;
            box-sizing: content-box !important;
    margin: 0px 0px 18px 0px !important;
  }
}

@media (max-width: 767px) {
  .icon-menu {
    position: absolute;
    top: 15px;
    left: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #09A66D;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 15;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .icon-menu:hover {
    opacity: 0.6;
  }
  .icon-menu span {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 5.5%;
            flex: 0 0 5.5%;
    margin: 10% 0px;
    width: 60%;
    background-color: #fff;
  }
  .icon-menu span:nth-child(2) {
    margin: 1px;
  }
  .icon-menu.active {
    background-color: #fff;
    border: 2px solid #09A66D;
  }
  .icon-menu.active span {
    background-color: #09A66D;
  }
}

.page {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
