.header {

    &__container {
        padding: 50px 15px 43px 15px;
    }

    &__body {
        height: 56px;
        @include flexbox();
        align-items: center;
        justify-content: space-between;
        position: relative;
    }

    &__menu {
    }

    &__logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        z-index: 5;
        top: 50px;
    }


    &__link {
        @include flexbox();
    }

    &__search {
        @include bg-circl(40px, #F3FBF8);
    }

    &__basket {
        margin: 0px 32px 0px 28px;
        @include bg-circl(40px, #F3FBF8);       
        
        position: relative;
        &::before {
            content: '';
            position: absolute;
            @include bg-circl(6px, #09A66D);
            z-index: 4;
            top: 7.5px;
            left: 20px;
        }      
        
    }

    &__search img,
    &__basket img {
       width: 24px;
       height: 24px;
    }

    &__button {
        color: #fff;
        height: 40px;
        width: 160px;
        text-align: center;
        border-radius: 8px;
        background: #09A66D;
        @include flexbox();
        align-items: center;
        justify-content: center;
        }
    &__small-btn {
        display: none;
    }
    @media screen and (max-width:900px) {
        &__logo{
            top: 10px;
            img{
                width: 45px;
                height: 45px;
            }
        }
        
    }
    @media (max-width: 769px){
        &__container{
            padding: 15px 10px;
        }
        &__body {
            height: 40px;
            @include flexbox();
            justify-content: end;
        }
        &__basket {
            margin: 0px 15px;
        }
        &__button {
            display: none;
        }
        &__small-btn {
            display: block;
            @include  bg-circl(40px,#09A66D);
            img{
                width: 24px;
                height: 24px;
            }
        }
        
    }
    @media (max-width: 470px){
        &__logo{
            left: 88px;
        }
        &__menu {            
            width: 100%;
        }
    }
    
}
.menu {
    &__body{ 
    }
    &__items {
        @include flexbox();
        justify-content: start;
        align-items: center;
        li + li{
            margin: 0px 0px 2px 40px;
        }

    }

    &__item {
        line-height: 24px;
        &.active {
            border-bottom: 2px solid #222222;
        }
        &:hover {
            border-bottom: 2px solid #09A66D;
        }
    }
    @media (max-width: 769px){
        &__body {
            position: fixed;
            height: 100%;
            width: 50%;
            top: 60px;
            left: 0;
            background: #09A66D;
            overflow: scroll;
            left: -100%;
            -webkit-transition:left 1s;
            -moz-transition:left 1s;
            -o-transition:left 1s;
            transition:left 1s;  
            &::-webkit-scrollbar {
                width: 0px;
                //background: rgba(255, 255, 255, 0.0);
            }
            &.active{
                left: 0;         
            }
        }
        &__items {            
            flex-direction: column;
            margin: 10% 0px;
            li {
                margin: 0px 0px 20px 0px !important;
            }
        }
        &__item {
            a {
                color: #fff;
                font-size: 24px;
            }
            &.active {
                border-bottom: 2px solid #fff;
            }
            &:hover {
                border-bottom: 2px solid #222222;
            }
            &.active,
            &:hover {
                box-sizing: content-box !important;
                margin: 0px 0px 18px 0px !important;
            }
        }
    }
}
.icon-menu{
    @media (max-width: 769px){
        position: absolute;
        top: 15px;
        left: 10px;
        @include  bg-circl(40px,#09A66D);        
        z-index: 15;
        @include flexbox();
        align-items: center;
        justify-content: center;
        flex-direction: column;
        &:hover{
            opacity: 0.6;
        }

        & span{
            flex: 0 0 5.5%;
            margin: 10% 0px;
            width: 60%;
            background-color: #fff;
            &:nth-child(2){
                margin: 1px;
            }
        }
        &.active{
            background-color:#fff;
            border: 2px solid #09A66D;
            span {
                background-color: #09A66D;
            }    
        }
    }
}
.lock {
    
}

