//Миксины
@import "_mixin.scss";
//-------------------------------
//Шрифты
//-----Подключение шрифтов------------------------------------------------------------------------------------------------------------------------
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Rosario:wght@700&display=swap');
//-------------------------------------------------------------------------------------------------------------------------------------
//-----Шрифт по умолчанию
$fontFamily: "DM Sans";
//------------------------------------------------------------------------------------------------------------------------------------------
//---------------------------------------------------------------------------------------------------------------------------------------------
//Переменные--------------------------------------------------------------------------------------------------------------------------------
$minWidth: 320px;
//---------------------------------------------------------------------------------------------------------------------------------------
//Обнуляющие стили и общие стили---------------------------------------------------------------------------------------------------------------
@import "_nullStyle.scss";
body{
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #222222;
}
a{
    color: #222222;
}
.lock{
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: hidden;
}

//-----------------------------------------------------------------------------------------------------------------
//----------------------------------------------------------------------------------------------------------------------------------------------
//Оболочка
.wrapper{
    overflow: hidden;
    min-height: 100%;
}
//-------------------------------------------------------------------------------------------------------------------------------------------
//Основная сетка------------------------------------------------------------------------------------------------------------------------------
.container{
    max-width: 1270px;
    margin: 0 auto;
    padding: 0px 15px;
}
//-------------------------------------------------------------------------------------------------------------------------------------------
//Подключение файлов стилей для страниц и элементов-------------------------------------------------------------------------------
@import "_header.scss";
@import "_footer.scss";

// основные стили--------------------------------------------------------------------------------------------------------------------------------
.page {
    position: absolute;
    width: 100%;
    height: 100%;
    @include flexbox();
    top: 0;
    left: 0;
    flex-direction: column;

}
.logo {
    @include flexbox();
    align-items: center;
    justify-content: center;
}
.main-screen {
    flex: 1 0 100%;
    position: relative;  
}
.default-btn {
    @include bg-circl(64px, #09A66D);
}
.title {
    font-family: Rosario;
    font-size: 70px;
    font-weight: 700;
    line-height: 90px;
}

.about {
    background: #f3fbf8; 
    position: relative;
    z-index: 0;
    &__head {
        padding-top: 93px;
        position: relative;
        z-index: 1;
        @include flexbox();
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__bg{
        position: absolute;
        max-width: 42.5%;   
        top: -41px;  
        z-index: 0;   
        img{
            width: 100%;
            height: 100%;
        }
    }

    &__title {
        text-align: center;
        margin: 0px 0px 20px 0px;
    }

    &__text {
        max-width: 637px;
        text-align: center;
        margin: 0px 0px 40px 0px;
    }

    &__link {
        text-align: center;
        a{
            @include flexbox();
            justify-content: center;
            align-items: center;
        }
    }
    &__name-link{
        font-family: DM Sans;
        font-weight: 500;
        padding: 0px 20px 0px 0px;
    }
    &__btn {
        position: relative;
        &::before{
            content: '\2192';
            position: absolute;
            font-size: 32px;
            color: #fff;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &__body {
        margin: -46px 0px 0px 0px;
        padding-bottom: 50px;
    }
}

.body-about {

    &__row {
        @include flexbox();
        justify-content: end;
        align-items: center;
    }

    &__img {
        flex: 1 1 70%;
        position: relative;
        mix-blend-mode: darken;
        z-index: 0;
        //padding: 0px 0px 50% 0;
        img{
            width: 88%;
            height: 88%;
            // position: absolute;
            // top: 0;
            // left: 0;
            // object-fit: cover;
        }
    }

    &__stat {
        flex: 0 1 250px;
    }

    &__items {
        @include flexbox();
        flex-direction: column;
    }

    &__item {
        flex: 1 0 33.33%;
        background: #fff;
    }
}
.item-about {

    &__row {
    }

    &__img {
    }

    &__body {
    }

    &__numb {
    }

    &__desc {
    }
}


