//Миксины
@import "_mixin.scss";
//-------------------------------
//Шрифты
//-----Подключение шрифтов------------------------------------------------------------------------------------------------------------------------
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Rosario:wght@700&display=swap');
//-------------------------------------------------------------------------------------------------------------------------------------
//-----Шрифт по умолчанию
$fontFamily: "DM Sans";
//------------------------------------------------------------------------------------------------------------------------------------------
//---------------------------------------------------------------------------------------------------------------------------------------------
//Переменные--------------------------------------------------------------------------------------------------------------------------------
$minWidth: 320px;
//---------------------------------------------------------------------------------------------------------------------------------------
//Обнуляющие стили и общие стили---------------------------------------------------------------------------------------------------------------
@import "_nullStyle.scss";
body{
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #222222;
}
a{
    color: #222222;
}
.lock{
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: hidden;
}

//-----------------------------------------------------------------------------------------------------------------
//----------------------------------------------------------------------------------------------------------------------------------------------
//Оболочка
.wrapper{
    overflow: hidden;
    min-height: 100%;
}
//-------------------------------------------------------------------------------------------------------------------------------------------
//Основная сетка------------------------------------------------------------------------------------------------------------------------------
.container{
    max-width: 1270px;
    margin: 0 auto;
    padding: 0px 15px;
}
//-------------------------------------------------------------------------------------------------------------------------------------------
//Подключение файлов стилей для страниц и элементов-------------------------------------------------------------------------------
@import "_header.scss";
@import "_footer.scss";

// основные стили--------------------------------------------------------------------------------------------------------------------------------
.page {
    position: absolute;
    width: 100%;
    height: 100%;
    @include flexbox();
    top: 0;
    left: 0;
    flex-direction: column;

}
.logo {
    @include flexbox();
    align-items: center;
    justify-content: center;
}
.main-screen {
    flex: 1 0 100%;
    position: relative;  
}
.default-btn {
    text-align: center;
    border-radius: 8px;
    background: #09A66D;
    @include flexbox();
    align-items: center;
    justify-content: center;
}
.title {
    font-family: Rosario;
    font-size: 70px;
    font-weight: 700;
    line-height: 90px;
}

.about {
    background: #f3fbf8; 
    position: relative;
    z-index: 0;
    &__head {
        position: relative;
        z-index: 1;
    }
    &__bg{
        position: absolute;
        max-width: 42.5%;   
        top: -41px;  
        z-index: 0;   
        img{
            width: 100%;
            height: 100%;
        }
    }

    &__title {
    }

    &__text {
    }

    &__link {
    }

    &__btn {
    }

    &__body {
    }
}

.body-about {

    &__row {
    }

    &__img {
    }

    &__stat {
    }

    &__items {
    }

    &__item {
    }
}
.item-about {

    &__row {
    }

    &__img {
    }

    &__body {
    }

    &__numb {
    }

    &__desc {
    }
}


